/* clean CSS reset */
*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

/* html sets the rem */
/* we want to set the default font size as a percent for usability */
/* default browser font-size is 16px, so 62.5% === 10px */
html {
  font-size: 62.5%;
}

body {
  padding: 1.5rem;
  box-sizing: border-box;
  font-size: 1.5rem;
  background-color: #f7f7f7;
}

/* //////// UNIVERSAL STYLES //////// *


/* UNIVERSAL STYLES */
/* Hero Animations */
/* animation: name duration timing-function delay iteration-count direction fill-mode; */
/* @keyframes <ANIMATION_NAME> , then assign the animation with animation-name: <ANIMATION_NAME> */
/* animations should only target: OPACITY and TRANSFORM */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    color: blue;
    transform: translateX(-20rem);
  }
  70% {
    opacity: 0.5;
    /* at 70%, element is now translated beyond (positive) its resting position */
    /* gives the animation a "bounce" effect where it recoils back to 0 between 70% and 100% */
    transform: translateX(2rem);
  }
  80% {
    transform: translateX(-1.5rem);
  }
  90% {
    transform: translateX(5rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    color: blue;
    transform: translateX(20rem);
  }
  70% {
    opacity: 0.7;
    transform: translateX(-2rem);
  }
  90% {
    transform: translateX(0.5rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes pulseBtn {
  0% {
    box-shadow: 0 0 0 0 #fff;
  }
  100% {
    box-shadow: 0 0 0 2rem rgba(255, 255, 255, 0);
  }
}
@keyframes pulseBtnGreen {
  0% {
    transform: translateY(2px);
    box-shadow: 0 0 0 0 #55c57a;
  }
  35% {
    transform: translateY(0px);
  }
  100% {
    box-shadow: 0 0 0 2rem rgba(126, 213, 111, 0);
  }
}
@keyframes wiggle {
  0% {
    transform: rotate(25deg);
  }
  66% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
body {
  font-family: "Mulish", sans-serif;
  line-height: 1.7;
  color: rgb(119, 119, 119);
}

.secondary-header {
  font-size: 4rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  color: transparent;
  background-image: linear-gradient(to right, #55c57a, #28b485);
  background-clip: text;
  -webkit-background-clip: text;
  display: inline-block;
}

.text-header--big {
  font-weight: 700;
  font-size: 1.8rem;
  letter-spacing: 1px;
  margin-bottom: 1rem;
  color: rgb(94, 94, 94);
}

.text-header--small {
  font-weight: 600;
  font-size: 1.6rem;
  margin-bottom: 1rem;
  color: rgb(94, 94, 94);
}

.btn {
  border-radius: 5rem;
  border: none;
  padding: 1.3rem 2rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.btn:hover {
  transform: translateY(-2px);
}
.btn:active {
  transform: translateY(2px);
}

.btn-plain-green {
  margin-top: 4rem;
  background: none;
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid #28b485;
  color: #28b485;
  text-align: left;
  padding: 1rem;
  width: auto;
  overflow-x: hidden;
  cursor: pointer;
}
.btn-plain-green:hover {
  transform: translateY(-2px);
  background-color: #28b485;
  color: #fff;
}
.btn-plain-green:active {
  transform: translateY(2px);
}

.btn-round-green {
  border-radius: 5rem;
  border: none;
  padding: 1.3rem 2rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 35%;
  background: linear-gradient(to right, #55c57a, #28b485);
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.5s;
}
.btn-round-green::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 4rem;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s ease-out;
  box-shadow: 0 0 10px 20px #7ed56f;
}
.btn-round-green:active::after {
  box-shadow: 0 0 0 0 #7ed56f;
  position: absolute;
  border-radius: 4rem;
  left: 0;
  top: 0;
  opacity: 1;
  transition: 0s;
}
.btn-round-green:hover {
  transform: translateY(-2px);
}

.section {
  height: 100vh;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 1rem;
}
.row__col {
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.specific-row {
  width: 50%;
  gap: 2rem;
}
.specific-row .row__col {
  width: 100%;
}

/* HEADER - HERO ////////////////// */
.header {
  height: 95vh;
  /* background image with color gradient overlayed */
  background: linear-gradient(to right, rgba(0, 128, 0, 0.2), rgba(0, 0, 255, 0.4)), url("../img/hero.jpg");
  /* cover - make image fit within it's container */
  background-size: cover;
  /* as viewport changes, keep the TOP of image visible: ie - Dont crop the top */
  background-position: top;
  /* bottom border slant up from left to right */
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  /* relative so that it's children (absolute) can inherit position */
  position: relative;
}
.header__logo-box {
  /* potition absolute - will inherit position from parent with position: relative  */
  position: absolute;
  left: 4rem;
  top: 4rem;
}
.header__logo {
  height: 35px;
}
.header__hero-text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.hero--button {
  letter-spacing: 1px;
  margin-top: 5%;
  background: linear-gradient(to right, black 50%, white 50%);
  background-size: 200% 100%;
  animation-delay: 2s;
  background-position: right bottom;
  transition: all 0.3s linear;
  cursor: pointer;
  color: black;
  text-decoration: none;
  box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.4);
  position: relative;
}
.hero--button:hover {
  background-position: left bottom;
  color: white;
}
.hero--button:active {
  transform: translateY(5px);
}

.heading-primary {
  color: white;
  text-transform: uppercase;
}
.heading-primary--main {
  display: block;
  font-size: 5rem;
  font-weight: 400;
  letter-spacing: 3rem;
  text-align: center;
}
.heading-primary--sub {
  display: block;
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 15px;
  width: 100%;
}
.heading-primary--sub::before {
  opacity: 1 !important;
}

.sub--animate {
  animation: moveInRight 1.5s ease-out 0.4s;
  animation-fill-mode: backwards;
}

.about {
  height: 95vh;
  padding: 25rem 0rem;
  margin: -20vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f7f7f7;
}
.about__header {
  margin-bottom: 8rem;
}
.about__content {
  width: 75%;
  height: auto;
  padding: 1rem;
  gap: 2rem;
}
.about__content-text p {
  margin-bottom: 1rem;
}
.about__content-images {
  position: relative;
}
.about__content-images .about-img {
  position: absolute;
  z-index: 99;
  border: 3px solid #7ed56f;
  width: 50%;
  transition: all 0.3s;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
}
.about__content-images .about-img--1 {
  left: 0;
  top: -2rem;
}
.about__content-images .about-img--2 {
  right: 5%;
  top: 2rem;
}
.about__content-images .about-img--3 {
  left: 20%;
  top: 10rem;
}
.about__content-images .about-img:hover {
  transform: translateY(-2rem) scale(110%);
  z-index: 100;
  border: 6px solid #28b485;
}
.about__content-images:hover .about-img:not(:hover) {
  transform: scale(0.95);
}

.features-section {
  height: 95;
  margin-top: 20vh;
  padding: 35vh 0;
  background: linear-gradient(to right, rgba(126, 213, 111, 0.75), rgba(40, 180, 133, 0.75)), url("../img/nat-10.jpg");
  background-size: cover;
  /* as viewport changes, keep the TOP of image visible: ie - Dont crop the top */
  background-position: top;
  clip-path: polygon(0 20%, 100% 0%, 100% 80%, 0% 100%);
  overflow: visible;
}

.features {
  width: 80%;
  gap: 4rem;
}
.features__card {
  padding: 1rem;
  padding-top: 1.5rem;
  width: 20%;
  height: 35vh;
  border: 1px solid pink;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 0.5rem;
  background: #fff;
  opacity: 0.8;
  transition: all 0.2s;
}
.features__card:hover {
  transform: scale(1.1);
}
.features__card--icon {
  font-size: 5rem;
  margin-bottom: 1rem;
  color: #28b485;
}
.features__card--text {
  text-overflow: ellipsis;
  overflow: hidden;
}

.popular {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
  position: relative;
}
.popular__header {
  margin-bottom: 8rem;
}
.popular__cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 6rem;
  width: 80%;
}
.popular__cards--card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
  height: 65vh;
  width: 20vw;
}
.popular__cards--card .card__side {
  perspective: 150rem;
  width: 100%;
  height: 65vh;
  position: absolute;
  transition: all 0.6s ease-out;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
}
.popular__cards--card .card__side--back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 20%;
}
.popular__cards--card .card__side--back-button {
  letter-spacing: 1px;
  margin-top: 5%;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  color: black;
  background-color: white;
  width: 20rem;
}
.popular__cards--card .card__side--back-button:hover {
  animation: pulseBtn 1s;
  transform: translateY(-2px);
}
.popular__cards--card .card__side--back-button:active {
  transform: translateY(5px);
}
.popular__cards--card .card__side--back-price h2 {
  font-size: 6rem;
  font-weight: 300;
}
.popular__cards--card .card__side--back-1 {
  background: linear-gradient(145deg, #ffb900, #ff7730);
}
.popular__cards--card .card__side--back-2 {
  background: linear-gradient(145deg, #7ed56f, #28b485);
}
.popular__cards--card .card__side--back-3 {
  background: linear-gradient(145deg, rgb(61, 200, 255), rgb(0, 33, 221));
}
.popular__cards--card:hover .card__side--front {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
.popular__cards--card:hover .card__side--back {
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
}

.card__side--front {
  display: flex;
  flex-direction: column;
}
.card__side--front .card__header {
  height: 23rem;
  background-blend-mode: screen;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%);
  clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%);
}
.card__side--front .card__header--title {
  color: white;
  right: 0;
  text-align: right;
  top: 1%;
  padding: 0.6rem;
  font-size: 2.8rem;
  font-weight: 300;
  width: 60%;
  position: absolute;
  display: inline-block;
}
.card__side--front .card__header--title span {
  text-align: right;
  padding: 0.5rem;
}
.card__side--front-1 .card__header {
  background: linear-gradient(#ffb900, #ff7730), url("../img/nat-5.jpg");
  background-size: cover;
}
.card__side--front-1 .card__header--title span {
  background: linear-gradient(to right, rgba(255, 185, 0, 0.8), rgba(255, 119, 48, 0.8));
}
.card__side--front-2 .card__header {
  background: linear-gradient(#7ed56f, #28b485), url("../img/nat-1.jpg");
  background-size: cover;
}
.card__side--front-2 .card__header--title span {
  background: linear-gradient(to right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8));
}
.card__side--front-3 .card__header {
  background: linear-gradient(#3dc8ff, #0021dd), url("../img/nat-7.jpg");
  background-size: cover;
}
.card__side--front-3 .card__header--title span {
  background: linear-gradient(to right, rgba(61, 200, 255, 0.8), rgba(0, 33, 221, 0.8));
}
.card__side--front .card__details {
  color: rgb(94, 94, 94);
  display: flex;
  flex-direction: column;
  height: auto;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  margin-top: 3rem;
}
.card__side--front .card__details p {
  padding-bottom: 1rem;
  width: 75%;
  text-align: center;
}
.card__side--front .card__details p:not(:last-child) {
  border-bottom: solid 1px rgb(119, 119, 119);
}

.footer {
  height: 65vh;
  background-color: #333;
  display: flex;
  flex-direction: column;
  padding: 10rem;
  gap: 10rem;
}
.footer__logo {
  display: flex;
  justify-content: center;
  width: 100%;
}
.footer__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20rem;
  align-items: flex-start;
  color: #fff;
}
.footer__content > div {
  border-top: 1px solid #f7f7f7;
  width: 30%;
  padding-top: 3rem;
  font-size: 100%;
}
.footer__content--links .footer__links-list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  list-style-type: none;
  list-style: none;
}
.footer__content--links .footer__links-list li {
  display: inline-block;
  cursor: pointer;
}
.footer__content--links .footer__links-list li:not(:last-child) {
  margin-right: 2rem;
}
.footer__content--links .footer__links-list li:hover {
  color: transparent;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  background-clip: text;
  -webkit-background-clip: text;
  animation: wiggle 0.2s ease-in-out;
}
.footer__content--links .footer__links-list li:active {
  transform: translateY(0.5rem);
}
.user-story {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10rem 0rem;
  padding-bottom: 20rem;
  min-height: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
}
.user-story > * {
  z-index: 99;
}
.user-story--header {
  margin-bottom: 8rem;
}
.user-story__stories {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 70%;
}
.user-story__stories .story {
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 5rem 10rem rgba(0, 0, 0, 0.2);
  padding: 4rem;
  padding-left: 6rem;
  transform: skewX(-12deg);
}
.user-story__stories .story > * {
  transform: skewX(12deg);
}
.user-story__stories .story--img {
  height: 15rem;
  width: 15rem;
  float: left;
  margin-right: 2rem;
  clip-path: circle(50% at 50% 50%);
  -webkit-clip-path: circle(50% at 50% 50%);
  shape-outside: circle(50% at 50% 50%);
  -webkit-shape-outside: circle(50% at 50% 50%);
  position: relative;
  transition: all 0.5s;
  overflow: hidden;
}
.user-story__stories .story--img-src {
  height: 100%;
  object-fit: cover;
  transform: translateX(-3rem) scale(1.3);
  transition: all 0.5s;
}
.user-story__stories .story--img-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 20%);
  opacity: 0;
  color: white;
  text-transform: uppercase;
  text-align: center;
  transition: all 0.5s;
}
.user-story__stories .story:hover .story--img-caption {
  transform: translate(-50%, -50%);
  opacity: 1;
}
.user-story__stories .story:hover .story--img-src {
  transform: translateX(-3rem) scale(1);
  filter: blur(2px) brightness(90%);
}
.user-story__stories .story--text::before {
  content: '" ';
}
.user-story__stories .story--text::after {
  content: ' "';
}
.user-story .btn-all-stories {
  margin-top: 8rem;
  background-color: #28b485;
  color: #fff;
}
.user-story--video {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  z-index: -1;
  overflow: hidden;
}
.user-story--video__content {
  min-height: 100%;
  height: 100%;
  width: 100%;
  opacity: 0.2;
  object-fit: cover;
}

.booking {
  background: linear-gradient(to bottom right, #7ed56f, #28b485);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.booking__form-container {
  background-color: white;
  max-height: 65vh;
  height: auto;
  width: 65vw;
  background: url("../img/nat-4.jpg");
  background-position: top;
  background-size: cover;
  object-fit: cover;
}
.booking__form-container .booking__form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2rem;
  width: 60%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
  position: relative;
}
.booking__form-container .booking__form > * {
  margin-bottom: 3rem;
}
.booking__form-container .booking__form--user-inputs {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
  position: relative;
}
.booking__form-container .booking__form--user-inputs .booking__input--container::after {
  content: "Full Name";
  margin-left: 1rem;
  line-height: 3;
  transition: all 1s;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-5rem);
  display: block;
}
.booking__form-container .booking__form--user-inputs .booking__input--container:focus-within::after {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.booking__form-container .booking__form--user-inputs .booking__input--container .booking__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  border: none;
  border-bottom: 3px solid transparent;
  width: 75%;
  display: block;
  transition: all 0.4s;
  position: relative;
}
.booking__form-container .booking__form--user-inputs .booking__input--container .booking__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #55c57a;
}
.booking__form-container .booking__form--user-inputs .booking__input--container .booking__input:focus .booking__input--container::after {
  opacity: 1;
  visibility: visible;
}
.booking__form-container .booking__form--user-inputs .booking__input--container .booking__input:focus::placeholder {
  opacity: 0;
  visibility: hidden;
}
.booking__form-container .booking__form--user-inputs .booking__input--container .booking__input:placeholder-shown + .booking__input--container {
  opacity: 0;
}
.booking__form-container .booking__form--user-inputs .booking__input--container .booking__input:focus:invalid {
  border-bottom: 3px solid orangered;
}
.booking__form-container .booking__form--checkbox {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1rem;
  /* Hide the browser's default radio button */
  /* Create a custom radio button */
  /* On mouse-over, add a grey background color */
  /* When the radio button is checked, add background color */
  /* Create the indicator (the dot/circle - hidden when not checked) */
  /* Show the indicator (dot/circle) when checked */
  /* Style the indicator (dot/circle) */
}
.booking__form-container .booking__form--checkbox .form__radio-label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1.6rem;
  line-height: 1.8;
}
.booking__form-container .booking__form--checkbox .form__radio-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.booking__form-container .booking__form--checkbox .form__radio-button {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
  vertical-align: text-top;
}
.booking__form-container .booking__form--checkbox .container:hover input ~ .form__radio-button {
  background-color: #ccc;
}
.booking__form-container .booking__form--checkbox .form__radio-label input:checked ~ .form__radio-button {
  background-color: #55c57a;
}
.booking__form-container .booking__form--checkbox .form__radio-button:after {
  content: "";
  position: absolute;
  display: none;
}
.booking__form-container .booking__form--checkbox .form__radio-label input:checked ~ .form__radio-button:after {
  display: block;
}
.booking__form-container .booking__form--checkbox .form__radio-label .form__radio-button:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
.booking__form-container .booking__form--btn {
  width: 35%;
  background: linear-gradient(to right, #55c57a, #28b485);
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.booking__form-container .booking__form--btn:focus {
  animation: pulseBtn 0.5s;
}

.nav__background {
  position: fixed;
  border-radius: 50%;
  top: 5rem;
  right: 5rem;
  height: 6rem;
  width: 6rem;
  z-index: 900;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  background-image: radial-gradient(#7ed56f, #28b485);
}
.nav__checkbox {
  display: none;
}
.nav__button {
  background-color: #fff;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 4.5rem;
  right: 4.5rem;
  border-radius: 50%;
  z-index: 999;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav__navigation {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  transform: translateX(50%);
  top: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  z-index: 998;
  transition: all 0.8s;
}
.nav__navigation--list {
  list-style: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  font-weight: 200;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.nav__navigation--list .nav__item {
  margin-bottom: 2rem;
}
.nav__navigation--list .nav__link {
  display: inline-block;
  padding: 1rem;
  text-decoration: none;
  color: #fff;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 250%;
  transition: all 0.4s;
}
.nav__navigation--list .nav__link:hover, .nav__navigation--list .nav__link:active {
  background-position: 100%;
  color: #28b485;
}
.nav__navigation--list .nav__link span {
  margin-right: 1rem;
}
.nav__checkbox:checked ~ .nav__background {
  transform: scale(80);
}
.nav__checkbox:checked ~ .nav__navigation {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}
.nav__icon {
  position: relative;
  transition: all 0.3s;
}
.nav__icon, .nav__icon::before, .nav__icon::after {
  width: 3rem;
  height: 2px;
  background-color: #333;
  display: inline-block;
}
.nav__icon::before, .nav__icon::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.2s;
}
.nav__icon::before {
  top: -1rem;
}
.nav__icon::after {
  top: 1rem;
}
.nav__button:hover .nav__icon::before {
  transform: translateY(-2px);
}
.nav__button:hover .nav__icon::after {
  transform: translateY(2px);
}
.nav__checkbox:checked + .nav__button .nav__icon {
  background-color: transparent;
}
.nav__checkbox:checked + .nav__button .nav__icon::before {
  top: 0;
  transform: rotate(135deg);
}
.nav__checkbox:checked + .nav__button .nav__icon::after {
  top: 0;
  transform: rotate(-135deg);
}

#popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  transition: all 0.5s;
}
#popup:target {
  opacity: 1;
  visibility: visible;
}

.popup {
  background-color: white;
  height: 70vh;
  width: 75vw;
  display: flex;
  flex-direction: row;
}
.popup__images {
  height: 100%;
  width: 40%;
  background-color: lightgreen;
  flex-direction: column;
}
.popup__images--container {
  background-size: contain;
  background-position: bottom;
  height: 50%;
  width: 100%;
}
.popup__images--img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.popup__content {
  height: 100%;
  width: 60%;
  padding: 2rem;
  position: relative;
}
.popup__content .secondary-header {
  margin-bottom: 0;
}
.popup__content--paragraphs {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  position: relative;
}
.popup__content--paragraphs .popup-paragraph {
  padding: 1rem;
  line-height: 1.4;
  height: auto;
  width: 100%;
  hyphens: auto;
}
.popup__content--paragraphs .pg-1::after {
  content: "";
  position: absolute;
  top: 1rem;
  right: 50%;
  border-right: 1px solid #777;
  height: 90%;
}
.popup__content .popup__btn {
  position: absolute;
  bottom: 3%;
}
.popup__content--close {
  position: absolute;
  right: 3%;
  text-decoration: none;
  color: #333;
  font-size: 2rem;
}
.popup__content--close:hover {
  transform: scale(1.3);
  font-weight: 300;
  text-shadow: 0px 0px 8px #55c57a;
}

/*# sourceMappingURL=style.css.map */
