.about {
  // padding: 5rem 0rem;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-grey--light;

  &__content {
    width: 80%;
    height: auto;
    padding: 1rem;
    gap: 2rem;

    &-text {
      p {
        margin-bottom: 1rem;
      }
    }
    &-images {
      position: relative;
      margin-top: 5rem;

      @include respond (phone){
        width: 110%;
        height: 30vh;
      }

      .about-img {
        position: absolute;
        z-index: 99;
        border: 3px solid $color-primary--light;
        width: 50%;
        transition: all 0.3s;
        box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);

        &--1 {
          left: 0;
          top: -2rem;
        }
        &--2 {
          right: 5%;
          top: 2rem;
        }
        &--3 {
          left: 20%;
          top: 10rem;
        }

        &:hover {
          //   scale: 2;
          transform: translateY(-2rem) scale(110%);
          z-index: 100;
          border: 6px solid $color-primary--dark;
        }
      }
      &:hover .about-img:not(:hover) {
        transform: scale(0.95);
      }
    }
  }
}
