.about{
    height: 95vh;
    padding: 25rem 0rem;
    margin: -20vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-grey--one;
    font-size: 1.5rem;
    &__header{
        margin-bottom: 4rem;
    }
    &__content{
        width: 75%;
        height: auto;
        padding: 1rem;

      &-text{
          h5 {

          }
          p{
            margin-bottom: 1rem;
          }
          button{
              margin-top: 2rem;
              background: none;
              border-radius: 0px;
              border-bottom: 2px solid green;
              color: green;
          }
      }
    }
}