.features-section{
    height: 95;
    // background-color: $color-grey--light;
    margin-top:  20vh;
    padding: 35vh 0;
    background: linear-gradient(to right, rgba($color-primary--light, .75), rgba($color-primary--dark, .75)), url('../img/nat-10.jpg');
    background-size: cover;
    /* as viewport changes, keep the TOP of image visible: ie - Dont crop the top */
    background-position: top;
    clip-path: polygon(0 20%, 100% 0%, 100% 80%, 0% 100%);
    overflow: visible;
}

.features{
    width: 80%;
    gap: 4rem;
    &__card{
        padding: 1rem;
        padding-top: 1.5rem;
        width: 20%;
        height: 35vh;
        border: 1px solid pink;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: .5rem;
        background: $color-white;
        opacity: .85;
        transition: all .2s;

        &:hover{
            transform: scale(1.1);
        }

        &--icon{
            font-size: 5rem;
            margin-bottom: 1rem;
            color: $color-primary--dark;
        }
        &--title{

        }
        &--text{
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
}