/* Hero Animations */
/* animation: name duration timing-function delay iteration-count direction fill-mode; */
/* @keyframes <ANIMATION_NAME> , then assign the animation with animation-name: <ANIMATION_NAME> */
/* animations should only target: OPACITY and TRANSFORM */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    color: blue;
    transform: translateX(-20rem);
  }
  70% {
    opacity: 0.5;
    /* at 70%, element is now translated beyond (positive) its resting position */
    /* gives the animation a "bounce" effect where it recoils back to 0 between 70% and 100% */
    transform: translateX(2rem);
  }
  80% {
    transform: translateX(-1.5rem);
  }
  90% {
    transform: translateX(5rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    color: blue;
    transform: translateX(20rem);
  }
  70% {
    opacity: 0.7;
    transform: translateX(-2rem);
  }
  90% {
    transform: translateX(0.5rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
