/* clean CSS reset */
*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

/*
 html sets the rem 
 we want to set the default font size as a percent for usability 
 default browser font-size is 16px, so 62.5% === 10px 

 when writing media queries we need to order them so that they apply in the correct order...
 ...here we put the tablet above the phone (if phone came before tablet, the phone media query would apply first but then be overwritten when the tablet query asks: "is our screen width still below the tablet breakpoint?")
 - So order the queries from large to small until the last one which asks for MIN-WIDTH
*/
html {
  font-size: 70%;
  @include respond(tablet_landscape){
    font-size: 66.25%;
  }
  @include respond(tablet){
    font-size: 60%;
  }
  @include respond(phone){
    font-size: 55%;
  }
  @include respond(large_desktop){
    font-size: 75%;
  }
}

body {
  padding: 1.5rem;
  box-sizing: border-box;
  background-color: $color-grey--light;
  width: 100vw;

  @include respond(tablet_landscape){
    padding: 0rem;
  }
}



/* //////// UNIVERSAL STYLES //////// *


/* UNIVERSAL STYLES */
